# .dockerignore
node_modules/

# Игнорировать файлы базы данных
*.sqlite
*.sqlite3

# Игнорировать собранные файлы
dist/

# Игнорировать файлы окружения
.env

# Игнорировать кэш и временные файлы
.cache/
.npm/
.git
.idea
